/* General */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
  text-align: center;
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/images/salt_norway.jpeg") no-repeat center center;
  background-size: cover;
  color: white;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.hero-content {
  position: relative;
  z-index: 1;
}

/* CV */
.cv-container {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.cv-profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Navegació */
.main-nav {
  background: rgba(30, 60, 114, 0.9);
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.main-nav ul li {
  margin: 0 20px;
}
.main-nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
  .cv-profile-img {
    width: 80px;
  }
}
