---
const { title } = Astro.props;
const isHome = title === "Benvingut";
---

<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title} - Ferran Espasa</title>
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>

  { !isHome && (
    <nav class="main-nav">
      <ul>
        <li><a href="/">Inici</a></li>
        <li><a href="/cv">Currículum</a></li>
        <li><a href="/voleibol">Voleibol</a></li>
      </ul>
    </nav>
  )}

  <main>
    <slot />
  </main>

  <footer>
    <p>&copy; 2025 Ferran Espasa Galceran</p>
  </footer>

</body>
</html>